<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link rel="shortcut icon" href="../../../public/assets/images/title/discord-logo.png" type="image/x-icon">
    
        <link rel="stylesheet" href="../../../public/scss/normalize.css">
        <link rel="stylesheet" href="../../../public/scss/global.css">
        <link rel="stylesheet" href="./style.css">
    
        <title>DISCORD | Seu Lugar para Papear e Ficar De Boa</title>
    </head>
<body>
    <section class="container-section-1">
        <main class="c-s1-main">
            <div class="c-s1-content">
                <div class="c-s1-texts">
                    <h1 class="c-s1-title">Imagine um lugar...</h1>
                    <p class="c-s1-subtitle">…onde você possa pertencer a um clube escolar, um grupo de gamers, ou uma comunidade artística mundial. Onde você e alguns amigos possam passar um tempo juntos. Um lugar que torna fácil conversar todos os dias e socializar com mais frequência.</p>
                </div>
    
                <div class="c-s1-btns">
                    <button class="c-s1-btn-download">
                        <svg width="24" height="24" viewBox="0 0 24 24">
                            <g fill="currentColor">
                                <path d="M17.707 10.708L16.293 9.29398L13 12.587V2.00098H11V12.587L7.70697 9.29398L6.29297 10.708L12 16.415L17.707 10.708Z"></path>
                                <path d="M18 18.001V20.001H6V18.001H4V20.001C4 21.103 4.897 22.001 6 22.001H18C19.104 22.001 20 21.103 20 20.001V18.001H18Z"></path>
                            </g>
                        </svg>
                        Baixar para Linux
                    </button>
                    <button class="c-s1-btn-open">Abra o Discord no seu navegador</button>
                </div>
            </div>
        </main>

        <img src="../../../public/assets/images/section-one/background-image.svg" alt="background-image" class="c-s1-background-image">
        <img src="../../../public/assets/images/section-one/left-image.svg" alt="left image" class="c-s1-left-image">
        <img src="../../../public/assets/images/section-one/right-image.svg" alt="right image" class="c-s1-right-image">
    </section>
</body>
</html>