<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link rel="shortcut icon" href="../../../public/assets/images/title/discord-logo.png" type="image/x-icon">
    
        <link rel="stylesheet" href="../../../public/scss/normalize.css">
        <link rel="stylesheet" href="../../../public/scss/global.css">
        <link rel="stylesheet" href="./style.css">
    
        <title>DISCORD | Seu Lugar para Papear e Ficar De Boa</title>
    </head>
<body>
    <section class="container-section-4">
        <div class="c-s-4-texts">
            <h1 class="c-s-4-t-title">Para poucos e para muitos</h1>
            <p class="c-s-4-t-subtitle">Organize qualquer comunidade com ferramentas de moderação e acesso personalizado a membros. Dê poderes especiais aos membros, monte canais privados e muito mais.</p>
        </div>
        
        <img src="../../../public/assets/images/section-four/image.svg" alt="Left discord image" class="c-s-4-image">
    </section>
</body>
</html>