<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link rel="shortcut icon" href="../../../public/assets/images/title/discord-logo.png" type="image/x-icon">
    
        <link rel="stylesheet" href="../../../public/scss/normalize.css">
        <link rel="stylesheet" href="../../../public/scss/global.css">
        <link rel="stylesheet" href="./style.css">
    
        <title>DISCORD | Seu Lugar para Papear e Ficar De Boa</title>
    </head>
<body>
    <section class="container-section-5">
        <div class="c-s-5-texts">
            <div class="c-s-5-title-align">
                <h1 class="c-s-5-t-title">Tecnologia de conexão confiável</h1>
            </div>
            <p class="c-s-5-t-subtitle">Voz e vídeo de baixa latência, para você conversar como se estivesse na mesma sala. Dê um joinha por vídeo, veja amigos transmitirem a jogatina do dia ou junte uma galera pra desenhar na tela compartilhada.</p>
        </div>
        
        <img src="../../../public/assets/images/section-five/image.svg" alt="Left discord image" class="c-s-5-image">
    </section>
</body>
</html>