<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link rel="shortcut icon" href="../../../public/assets/images/title/discord-logo.png" type="image/x-icon">
    
        <link rel="stylesheet" href="../../../public/scss/normalize.css">
        <link rel="stylesheet" href="../../../public/scss/global.css">
        <link rel="stylesheet" href="./style.css">
    
        <title>DISCORD | Seu Lugar para Papear e Ficar De Boa</title>
    </head>
<body>
    <section class="container-section-3">
        <div class="c-s-3-texts">
            <h1 class="c-s-3-t-title">Aqui é fácil de se encontrar</h1>
            <p class="c-s-3-t-subtitle">Entre no canal de voz quando estiver à toa. Amigos no mesmo servidor podem te ver e entrar imediatamente, sem nem ter que fazer a chamada.</p>
        </div>
        
        <img src="../../../public/assets/images/section-three/image.svg" alt="Left discord image" class="c-s-3-image">
    </section>
</body>
</html>